# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directory
venv/
env/    
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Log files
*.log

# SQLite database files
*.sqlite3

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Streamlit cache and files
.streamlit/

# MacOS / Windows system files
.vscode/
